@model IEnumerable<SearchFilghts.Assignment.Models.SearchFlightModel>

@{
    ViewBag.Title = "Search Flights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>Result </h2>*@
<table>
    @if (ViewBag.NoRecordFound)
    {
        {@ViewBag.Message};
    }
    else
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => (item.Origin))  -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>( @Html.DisplayFor(modelItem => item.DepartureTime) -->
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DestinationTime) ) - 
            </td>
            <td>$@Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
        }
    }
</table>
